{
  "presets": [
    [
      "@babel/preset-env",
      {
        "corejs": "3",
        "useBuiltIns": "usage"//entry|usage
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    [
      "babel-plugin-styled-components",
      {
        "displayName": false,
        "minify": true,
        "transpileTemplateLiterals": true,
        "ssr": false,
        "pure": true
      }
    ]
  ]
}